<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security-3.2.xsd">

	<http auto-config='true'>
		<!-- <intercept-url pattern="/**" access="ROLE_USER" /> -->
		<intercept-url pattern="/usr**" access="ROLE_USER" />
		<intercept-url pattern="/adm**" access="ROLE_ADMIN" />

		<form-login login-page="/login" username-parameter="username"
			password-parameter="password" authentication-failure-url="/login?error"
			authentication-success-handler-ref="myAuthenticationSuccessHandler" />

		<logout logout-success-url="/login?logout" />

		<!-- enable csrf protection -->
		<!-- <csrf/> -->
	</http>

	<authentication-manager>
		<authentication-provider ref="authenticationService" />
	</authentication-manager>

	<beans:bean id="myAuthenticationSuccessHandler"
		class="com.renjith.rainb.service.MyAuthenticationSuccessHandler" />
	<beans:bean id="authenticationService"
		class="com.renjith.rainb.service.AuthenticationService" />

</beans:beans>